### Leitura dos microdados 2020 - Data de atualização: 02/12/2021:

In [1]:
import pandas as pd

df_2020 = pd.read_csv('../microdados_matriculas_2020.csv', sep=';')

df_2020.head()

,Carga Horaria,Carga Horaria Minima,Categoria de Situação,Cod Unidade,Cor/Raça,Código da Matrícula,Código da Unidade de Ensino - SISTEC,Código do Ciclo de Matrícula,Código do Município com DV,Data de Fim Previsto do Ciclo,...,Vagas Ofertadas,Vagas Regulares AC,Vagas Regulares l1,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
0,3182,800,Concluintes,17,BRANCA,66845709,13791,2016192,5201108,20/12/2018,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3641,1200,Concluintes,279,BRANCA,66801823,3508,2016354,5211503,20/12/2018,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5800,4000,Concluintes,523,BRANCA,64271041,2956,1859227,5221809,21/12/2018,...,40.0,20.0,3.0,1.0,1.0,1.0,5.0,3.0,5.0,1.0
3,4370,3600,Evadidos,523,BRANCA,44608044,2956,1206840,5221809,22/12/2016,...,40.0,20.0,3.0,1.0,1.0,1.0,5.0,3.0,5.0,1.0
4,5800,4000,Concluintes,523,BRANCA,59220389,2956,1859227,5221809,21/12/2018,...,40.0,20.0,3.0,1.0,1.0,1.0,5.0,3.0,5.0,1.0

### Verificando nome das colunas:

In [2]:
df_2020.columns.tolist()

['Carga Horaria',
 'Carga Horaria Minima',
 'Categoria de Situação',
 'Cod Unidade',
 'Cor/Raça',
 'Código da Matrícula',
 'Código da Unidade de Ensino - SISTEC',
 'Código do Ciclo de Matrícula',
 'Código do Município com DV',
 'Data de Fim Previsto do Ciclo',
 'Data de Inicio do Ciclo',
 'Data de Ocorrência da Matrícula',
 'Eixo Tecnológico',
 'Faixa Etária',
 'Fator Esforco Curso',
 'Fonte de Financiamento',
 'Idade',
 'Instituição',
 'Matrícula 2019',
 'Modalidade de Ensino',
 'Mês de Ocorrência da Situação',
 'Nome de Curso',
 'Número de registros',
 'Região',
 'Renda Familiar',
 'Sexo',
 'Situação de Matrícula',
 'Subeixo Tecnológico',
 'Tipo de Curso',
 'Tipo de Oferta',
 'Tipo de Unidade',
 'Tipo Oferta',
 'Turno',
 'UF',
 'Unidade de Ensino',
 'Vagas Extraordinárias AC',
 'Vagas Extraordinárias l1',
 'Vagas Extraordinárias l10',
 'Vagas Extraordinárias l13',
 'Vagas Extraordinárias l14',
 'Vagas Extraordinárias l2',
 'Vagas Extraordinárias l5',
 'Vagas Extraordinárias l6',
 'Vagas Extraordinárias l9',
 'Vagas Ofertadas',
 'Vagas Regulares AC',
 'Vagas Regulares l1',
 'Vagas Regulares l10',
 'Vagas Regulares l13',
 'Vagas Regulares l14',
 'Vagas Regulares l2',
 'Vagas Regulares l5',
 'Vagas Regulares l6',
 'Vagas Regulares l9']

### Verificando quantidade total de matrículas 2020:

In [3]:
df_2020['dt_ocorrencia_matricula'] = pd.to_datetime(df_2020['Data de Ocorrência da Matrícula'], format='%d/%m/%Y')
df_2020['ano_ocorrencia_matricula'] = df_2020['dt_ocorrencia_matricula'].dt.year
df_2020['dt_fim_ciclo'] = pd.to_datetime(df_2020['Data de Fim Previsto do Ciclo'], format='%d/%m/%Y')
df_2020['ano_fim_ciclo'] = df_2020['dt_fim_ciclo'].dt.year

df_2020_qtd_matriculas = df_2020[(df_2020['Instituição'] == 'IFSUL')]
df_2020_qtd_matriculas.shape

(46349, 58)

### Filtrando matrículas por tipo de oferta Integrado e Proeja Integrado:

In [4]:
import numpy as np
import statistics

f_integrado = df_2020_qtd_matriculas[(df_2020_qtd_matriculas['Tipo Oferta'] == 'Integrado')]
qtd_matriculas_integrado = f_integrado.groupby(['Tipo Oferta', 'Situação de Matrícula'])['Tipo Oferta'].count().sum()

f_proeja = df_2020_qtd_matriculas[(df_2020_qtd_matriculas['Tipo Oferta'] == 'PROEJA - Integrado')]
qtd_matriculas_proeja = f_proeja.groupby(['Tipo Oferta', 'Situação de Matrícula'])['Tipo Oferta'].count().sum() 

lista_qtd_matriculas_cti_eja_2020 = [qtd_matriculas_integrado,qtd_matriculas_proeja]

lista_qtd_matriculas_cti_eja_2020

[7698, 1028]

In [5]:
# Filtro classificação racial - integrado - amarela
filtro_integrado_amarela = f_integrado[(f_integrado['Cor/Raça']=='AMARELA')]
amarela = filtro_integrado_amarela.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - integrado - branca
filtro_integrado_branca = f_integrado[(f_integrado['Cor/Raça']=='BRANCA')]
branca = filtro_integrado_branca.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - integrado - indígena
filtro_integrado_indigena = f_integrado[(f_integrado['Cor/Raça']=='INDÍGENA')]
indigena = filtro_integrado_indigena.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - integrado - parda
filtro_integrado_parda = f_integrado[(f_integrado['Cor/Raça']=='PARDA')]
parda = filtro_integrado_parda.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - integrado - preta
filtro_integrado_preta = f_integrado[(f_integrado['Cor/Raça']=='PRETA')]
preta = filtro_integrado_preta.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - integrado - não declarada
filtro_integrado_nao_declarada = f_integrado[(f_integrado['Cor/Raça']=='NÃO DECLARADA')]
nao_declarada = filtro_integrado_nao_declarada.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

lista_valores_integrado = [amarela,branca,indigena,parda,preta,nao_declarada]
lista_valores_integrado

[18, 3538, 13, 521, 277, 3331]

In [6]:
# Relacionando quantidade de matrículas, cor raça, tipo de oferta integrado
f_integrado.groupby(['Tipo Oferta', 'Cor/Raça'])['Cor/Raça'].count()

Tipo Oferta  Cor/Raça
Integrado    AMARELA            18
             BRANCA           3538
             INDÍGENA           13
             NÃO DECLARADA    3331
             PARDA             521
             PRETA             277
Name: Cor/Raça, dtype: int64

In [7]:
# Filtro classificação racial - PROEJA - Integrado - amarela
filtro_proeja_amarela = f_proeja[(f_proeja['Cor/Raça']=='AMARELA')]
amarela = filtro_proeja_amarela.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - branca
filtro_proeja_branca = f_proeja[(f_proeja['Cor/Raça']=='BRANCA')]
branca = filtro_proeja_branca.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - indígena
filtro_proeja_indigena = f_proeja[(f_proeja['Cor/Raça']=='INDÍGENA')]
indigena = filtro_proeja_indigena.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - parda
filtro_proeja_parda = f_proeja[(f_proeja['Cor/Raça']=='PARDA')]
parda = filtro_proeja_parda.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - preta
filtro_proeja_preta = f_proeja[(f_proeja['Cor/Raça']=='PRETA')]
preta = filtro_proeja_preta.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - não declarada
filtro_proeja_nao_declarada = f_proeja[(f_proeja['Cor/Raça']=='NÃO DECLARADA')]
nao_declarada = filtro_proeja_nao_declarada.groupby(['Tipo Oferta','Cor/Raça'])['Cor/Raça'].count().sum()

lista_valores_proeja = [amarela,branca,indigena,parda,preta,nao_declarada]
lista_valores_proeja

#f_integrado['Cor Raca'].drop_duplicates()

[2, 399, 1, 83, 66, 477]

In [8]:
# Relacionando quantidade de matrículas, cor raça, tipo de oferta proeja
f_proeja.groupby(['Tipo Oferta', 'Cor/Raça'])['Cor/Raça'].count()

Tipo Oferta         Cor/Raça
PROEJA - Integrado  AMARELA            2
                    BRANCA           399
                    INDÍGENA           1
                    NÃO DECLARADA    477
                    PARDA             83
                    PRETA             66
Name: Cor/Raça, dtype: int64

In [9]:
import numpy as np

lista_valores_class_racial = np.concatenate((lista_valores_integrado,lista_valores_proeja))
lista_valores_class_racial

array([  18, 3538,   13,  521,  277, 3331,    2,  399,    1,   83,   66,
        477])

### Salvando informações em arquivo csv

In [10]:
a = np.asarray(lista_valores_class_racial)
a.tofile('tmp_files/classificacao-racial-cti-eja-2020.csv', sep=',')

### Fazendo a leitura das informações

In [11]:
file = np.genfromtxt('tmp_files/classificacao-racial-cti-eja-2020.csv', delimiter=',', dtype=None)
file
#t = np.concatenate((b,c))

array([  18, 3538,   13,  521,  277, 3331,    2,  399,    1,   83,   66,
        477])