### Leitura dos microdados 2019 - Data de atualização: 15/09/2020:

In [1]:
import pandas as pd

df_2019 = pd.read_csv('../microdados_matriculas_2019.csv', sep=';')

df_2019.head()

,Teste,Carga Horaria,Carga Horaria Minima,Categoria da Situação,Código do Ciclo Matricula,Código da Matricula,Código da Unidade de Ensino - SISTEC,Cod Unidade,Cor / Raça,Data de Inicio do Ciclo,...,Vagas Extraordinárias l9,Vagas Regulares AC,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l1,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
0,1,4535,3600,Concluintes,1978481,64063592,3483,147,Não declarada,20/02/2015,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0
1,1,4535,3600,Em curso,1978481,64063608,3483,147,Não declarada,20/02/2015,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0
2,1,4535,3600,Em curso,1978481,64063640,3483,147,Não declarada,20/02/2015,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0
3,1,4535,3600,Em curso,1978481,64063638,3483,147,Não declarada,20/02/2015,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0
4,1,4535,3600,Em curso,1978481,64063630,3483,147,Não declarada,20/02/2015,...,0.0,17.0,0.0,0.0,0.0,2.0,7.0,2.0,7.0,0.0

### Verificando nome das colunas:

In [2]:
df_2019.columns.tolist()

['Teste',
 'Carga Horaria',
 'Carga Horaria Minima',
 'Categoria da Situação',
 'Código do Ciclo Matricula',
 'Código da Matricula',
 'Código da Unidade de Ensino - SISTEC',
 'Cod Unidade',
 'Cor / Raça',
 'Data de Inicio do Ciclo',
 'Data de Fim Previsto do Ciclo',
 'Data de Ocorrencia da Matricula',
 'Eixo Tecnológico',
 'Faixa Etária',
 'Fator Esforco Curso',
 'Fonte de Financiamento',
 'Idade',
 'Total de Inscritos',
 'Instituição',
 'Mês De Ocorrência da Situação',
 'Modalidade de Ensino',
 'Código do Município com DV',
 'Município ',
 'Vagas Ofertadas',
 'Nome de Curso',
 'Número de registros',
 'Região ',
 'Renda Familiar',
 'Sexo',
 'Situação de Matrícula',
 'Sub Eixo Tecnologico',
 'Tipo Oferta',
 'Tipo de Curso',
 'Turno',
 'UF ',
 'Unidade de Ensino',
 'Vagas Extraordinárias AC',
 'Vagas Extraordinárias l10',
 'Vagas Extraordinárias l13',
 'Vagas Extraordinárias l14',
 'Vagas Extraordinárias l1',
 'Vagas Extraordinárias l2',
 'Vagas Extraordinárias l5',
 'Vagas Extraordinárias l6',
 'Vagas Extraordinárias l9',
 'Vagas Regulares AC',
 'Vagas Regulares l10',
 'Vagas Regulares l13',
 'Vagas Regulares l14',
 'Vagas Regulares l1',
 'Vagas Regulares l2',
 'Vagas Regulares l5',
 'Vagas Regulares l6',
 'Vagas Regulares l9']

### Verificando quantidade total de matrículas 2019:

In [3]:
df_2019['dt_ocorrencia_matricula'] = pd.to_datetime(df_2019['Data de Ocorrencia da Matricula'], format='%d/%m/%Y')
df_2019['ano_ocorrencia_matricula'] = df_2019['dt_ocorrencia_matricula'].dt.year
df_2019['dt_fim_ciclo'] = pd.to_datetime(df_2019['Data de Fim Previsto do Ciclo'], format='%d/%m/%Y')
df_2019['ano_fim_ciclo'] = df_2019['dt_fim_ciclo'].dt.year

df_2019_qtd_matriculas = df_2019[(df_2019['Instituição'] == 'IFSUL')]
df_2019_qtd_matriculas.shape

(21939, 58)

### Filtrando matrículas por tipo de oferta Integrado e Proeja Integrado:

In [4]:
import numpy as np
import statistics

f_integrado = df_2019_qtd_matriculas[(df_2019_qtd_matriculas['Tipo Oferta'] == 'Integrado')]
qtd_matriculas_integrado = f_integrado.groupby(['Tipo Oferta', 'Situação de Matrícula'])['Tipo Oferta'].count().sum()

f_proeja = df_2019_qtd_matriculas[(df_2019_qtd_matriculas['Tipo Oferta'] == 'PROEJA - Integrado')]
qtd_matriculas_proeja = f_proeja.groupby(['Tipo Oferta', 'Situação de Matrícula'])['Tipo Oferta'].count().sum() 

lista_qtd_matriculas_cti_eja_2019 = [qtd_matriculas_integrado,qtd_matriculas_proeja]

lista_qtd_matriculas_cti_eja_2019

[7350, 693]

In [5]:
# Filtro classificação racial - integrado - amarela
filtro_integrado_amarela = f_integrado[(f_integrado['Cor / Raça']=='Amarela')]
amarela = filtro_integrado_amarela.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - integrado - branca
filtro_integrado_branca = f_integrado[(f_integrado['Cor / Raça']=='Branca')]
branca = filtro_integrado_branca.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - integrado - indígena
filtro_integrado_indigena = f_integrado[(f_integrado['Cor / Raça']=='Indígena')]
indigena = filtro_integrado_indigena.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - integrado - parda
filtro_integrado_parda = f_integrado[(f_integrado['Cor / Raça']=='Parda')]
parda = filtro_integrado_parda.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - integrado - preta
filtro_integrado_preta = f_integrado[(f_integrado['Cor / Raça']=='Preta')]
preta = filtro_integrado_preta.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - integrado - não declarada
filtro_integrado_nao_declarada = f_integrado[(f_integrado['Cor / Raça']=='Não declarada')]
nao_declarada = filtro_integrado_nao_declarada.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

lista_valores_integrado = [amarela,branca,indigena,parda,preta,nao_declarada]
lista_valores_integrado

[12, 2900, 10, 462, 275, 3691]

In [6]:
# Relacionando quantidade de matrículas, cor raça, tipo de oferta integrado
f_integrado.groupby(['Tipo Oferta', 'Cor / Raça'])['Cor / Raça'].count()

Tipo Oferta  Cor / Raça
Integrado    Amarela            12
             Branca           2900
             Indígena           10
             Não declarada    3691
             Parda             462
             Preta             275
Name: Cor / Raça, dtype: int64

In [7]:
# Filtro classificação racial - PROEJA - Integrado - amarela
filtro_proeja_amarela = f_proeja[(f_proeja['Cor / Raça']=='Amarela')]
amarela = filtro_proeja_amarela.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - branca
filtro_proeja_branca = f_proeja[(f_proeja['Cor / Raça']=='Branca')]
branca = filtro_proeja_branca.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - indígena
filtro_proeja_indigena = f_proeja[(f_proeja['Cor / Raça']=='Indígena')]
indigena = filtro_proeja_indigena.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - parda
filtro_proeja_parda = f_proeja[(f_proeja['Cor / Raça']=='Parda')]
parda = filtro_proeja_parda.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - preta
filtro_proeja_preta = f_proeja[(f_proeja['Cor / Raça']=='Preta')]
preta = filtro_proeja_preta.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

# Filtro classificação racial - PROEJA - Integrado - não declarada
filtro_proeja_nao_declarada = f_proeja[(f_proeja['Cor / Raça']=='Não declarada')]
nao_declarada = filtro_proeja_nao_declarada.groupby(['Tipo Oferta','Cor / Raça'])['Cor / Raça'].count().sum()

lista_valores_proeja = [amarela,branca,indigena,parda,preta,nao_declarada]
lista_valores_proeja

#f_integrado['Cor Raca'].drop_duplicates()

[1, 363, 7, 88, 75, 159]

In [8]:
# Relacionando quantidade de matrículas, cor raça, tipo de oferta proeja
f_proeja.groupby(['Tipo Oferta', 'Cor / Raça'])['Cor / Raça'].count()

Tipo Oferta         Cor / Raça
PROEJA - Integrado  Amarela            1
                    Branca           363
                    Indígena           7
                    Não declarada    159
                    Parda             88
                    Preta             75
Name: Cor / Raça, dtype: int64

In [14]:
import numpy as np

lista_valores_class_racial = np.concatenate((lista_valores_integrado,lista_valores_proeja))
lista_valores_class_racial

array([  12, 2900,   10,  462,  275, 3691,    1,  363,    7,   88,   75,
        159])

### Salvando informações em arquivo csv

In [15]:
a = np.asarray(lista_valores_class_racial)
a.tofile('tmp_files/classificacao-racial-cti-eja-2019.csv', sep=',')

### Fazendo a leitura das informações

In [16]:
file = np.genfromtxt('tmp_files/classificacao-racial-cti-eja-2019.csv', delimiter=',', dtype=None)
file
#t = np.concatenate((b,c))

array([  12, 2900,   10,  462,  275, 3691,    1,  363,    7,   88,   75,
        159])